@font-face {
  font-family: Inter;
  src: url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

:root {
    --Aqua: hsl(184, 84%, 56%);
    --White: hsl(0, 0%, 100%);
    --Grey-700: hsl(0, 0%, 20%);
    --Grey-800: hsl(0, 0%, 12%);
    --Grey-900: hsl(0, 0%, 8%);
    --fs-xs: .875rem;
    --fw-regular: 400;
    --fw-semi-bold: 600;
    --fw-bold: 700;
}

body {
    font-family: Inter, sans-serif;
    background-color: var(--Grey-900);
    color: var(--White);
}

#social-links-profile {
    background-color: var(--Grey-800);
}

.user-location {
    color: var(--Aqua);
}

button {
    background-color: var(--Grey-700);
    border: 0;
    color: var(--White);
}